{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{{template "title" .}} - Server Template</title>
</head>
<body>
<header>
    {{block "nav" .}}
    {{end}}
</header>
<main>
    {{template "page" .}}
</main>
<footer>
    <a href="https://github.com/deBarbarinAntoine">Antoine de Barbarin © {{.CurrentYear}}</a>
</footer>
</body>
</html>
{{end}}